@mixin flexCenter(){
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
  .feature-icon {
    @include flexCenter();
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
  
  .icon-link {
    display: inline-flex;
    align-items: center;
    > .bi{

        margin-top: .125rem;
        margin-left: .125rem;
        transition: transform .25s ease-in-out;
        fill: currentColor;
    }
    &:hover{
        > .bi{
            transform: translate(.25rem);

        }
    }
}
  

.icon-square {
@include flexCenter();
width: 3rem;
height: 3rem;
font-size: 1.5rem;
border-radius: .75rem;
}